@model DailyStatus.Models.StatusModel

@{
    ViewBag.Title = "Daily Status";
}

@section Scripts
{
    <script>
        $(function () {
            $('#navbar li').removeClass('active');
            $('#IndividualStatusMenu').addClass('active');

            $("input:text").focus(function () { $(this).select(); });
            $("textarea").focus(function () { $(this).select(); });

            if( $('#Name') && ($('#Name')[0].value == "" || $('#Name')[0].value == null))
                $('#Name').focus();
            else
                $('#SoFar').focus();
        })
    </script>
}

<h3>Status for @System.DateTime.Today.ToString("dd-MMM-yyy")</h3>
<hr />

@using (Html.BeginForm()){
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-5">
                @Html.DropDownListFor(model => model.Name, new SelectList(Enum.GetNames(typeof(DailyStatus.Models.EmployeeNames))),
               "----Select your name----", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoFar, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.SoFar, new { htmlAttributes = new { @class = "form-control", @rows = "4" } })
                @Html.ValidationMessageFor(model => model.SoFar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NextDay, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.NextDay, new { htmlAttributes = new { @class = "form-control", @rows = "4" } })
                @Html.ValidationMessageFor(model => model.NextDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Impediments, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Impediments, new { htmlAttributes = new { @class = "form-control", @Value = "None" } })
                @Html.ValidationMessageFor(model => model.Impediments, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <span>• Bullets will be added automatically before each line.</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
        <div>
            <input type="hidden" value="@ViewBag.Overwrite" name="Overwrite" />
        </div>
    </div>
}

@if (ViewBag.Success != null)
{
    <div class="col-md-offset-1">
        <span style="color:Green"><b>@ViewBag.Success</b></span>
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="col-md-offset-1">
        <span style="color:Red"><b>@ViewBag.Error</b></span>
    </div>
}
